.MyListingCollection-container{
    text-align: center;
    padding: 0 0 150px 0;
}
.MyListingCollection-container h4{
    font-size: 24px;
    font-weight: 700;
}
.MyListingCollection-container p{
    font-size: 16px;
    font-weight: 500;
}
.btn-wallet{
    background-color: #8C58FF;
    border-radius: 25px;
    color: #fff;
    padding: 3px 30px;
    font-size: 16px;
    font-weight: 700;
}