.RecentTradeList_container{
    display: flex;
    flex-wrap: wrap;
    margin: 20px 0;
}
.RecentTradeList_card{
    width: 16rem;
    padding: 0 0 30px 0;
    margin: 10px 10px;
    border: 1px solid #6A6464;
    border-radius: 25px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.3);
}
.card-main-title{
    font-size: 16px;
    color: #000;
    font-weight: 700;
}
.card-sub-title{
    font-size: 16px;
    color: #000;
    font-weight: 500;
}
.hr{
    border: 1px solid #6A6464;
    margin: 10px 0;
}
.card-lower-title{
    color: #1AB8A6;
    font-size: 16px;
    font-weight: 700;
}
.solana-img{
    width: 16px;
    height: 16px;
    align-self: center;
    
}
.solana-price{
    font-size: 16px;
    font-weight: 700;
    color: #000;
    margin: 0 0px 3px 5px;
}
.btn-group-trade-list{
    display: flex;
    flex-wrap: wrap;
    
}
.btn-trade-list{
    background-color: #8C58FF;
    color: #fff;
    font-size: 12px;
    font-weight: 400;
    border-radius: 25px;
    padding: 3px 15px;
    margin: 20px 5px 0 0;
}
.btn-trade-list-wide{
    background-color: #8C58FF;
    color: #fff;
    font-size: 12px;
    font-weight: 400;
    border-radius: 25px;
    padding: 3px 15px;
    margin: 6px 5px 0 0;
}

@media only screen and (max-width: 767px) {
    .RecentTradeList_container{
        display: flex;
        flex-wrap: wrap;
        margin: 0px 0;
        justify-content: center;
    }
    .RecentTradeList_card{
        width: 9rem;
        padding: 0 0 0px 0;
        margin: 10px 10px;
        border: 1px solid #6A6464;
        border-radius: 10px;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.3);
        
    }
    .card-main-title{
        font-size: 16px;
        color: #000;
        font-weight: 700;
    }
    .card-sub-title{
        font-size: 16px;
        color: #000;
        font-weight: 500;
    }
    .hr{
        border: 1px solid #6A6464;
        margin: 10px 0;
    }
    .card-lower-title{
        color: #1AB8A6;
        font-size: 16px;
        font-weight: 700;
    }
    .solana-img{
        width: 16px;
        height: 16px;
        align-self: center;
        
    }
    .solana-price{
        font-size: 16px;
        font-weight: 700;
        color: #000;
        margin: 0 0px 3px 5px;
    }
    .btn-group-trade-list{
        display: flex;
        flex-wrap: wrap;
        
    }
    .btn-trade-list{
        background-color: #8C58FF;
        color: #fff;
        font-size: 12px;
        font-weight: 400;
        border-radius: 25px;
        padding: 3px 15px;
        margin: 20px 5px 0 0;
    }
    .btn-trade-list-wide{
        background-color: #8C58FF;
        color: #fff;
        font-size: 12px;
        font-weight: 400;
        border-radius: 25px;
        padding: 3px 15px;
        margin: 6px 5px 0 0;
    }
}