.text-explore{
    text-decoration: underline;
}

@media only screen and (max-width: 767px) {
    .text-explore{
        text-decoration: underline;
        font-size: 14px;
    }
    .recent-trade{
        font-size: 20px;
    }
}