.text-explore{
    text-decoration: underline;
}

@media only screen and (max-width: 767px) {
    .new-collection-title{
        font-size: 20px;
    }
    .text-explore-new-collection{
        text-decoration: underline;
        font-size: 14px;
    }
}