.loan-nav-group {
    text-align: center;
    margin: 0 0 20px 0;
}

.loan-nav-group .loan-nav:not(:last-child) {
    margin: 0px 50px 0px 0;
    font-size: 16px;
    font-weight: 500;
}

.shared-hr {
    /* border: 2px solid #736C6C;
    margin: 30px 350px 50px 300px; */

    margin: auto;
    width: 700px;
    height: 100px;
    text-align: center;
    border-top: 5px solid;
    /* border-image: linear-gradient(to right, grey 0%, grey 18%, yellow 18%, yellow 35%, orange 35%, orange 54%, red 54%, red 82%, teal 82%) 6; */

    border-image: linear-gradient(to right, #8C58FF 0%, #8C58FF 18%, #736C6C 18%, #736C6C 35%) 2;
    /* border-image: linear-gradient(to right, #736C6C 0%, #736C6C 18%, #8C58FF 18%, #8C58FF 35%, #736C6C 35%, #736C6C 100%) 2; */
    /* border-image: linear-gradient(to right, #736C6C 0%, #736C6C 35%, #8C58FF 35%, #8C58FF 54%, #736C6C 54%, #736C6C 100%) 2; */
    /* border-image: linear-gradient(to right, #736C6C 0%, #736C6C 54%, #8C58FF 54%, #8C58FF 82%, #736C6C 82%, #736C6C 100%) 2; */
    /* border-image: linear-gradient(to right, #736C6C 0%, #736C6C 82%, #8C58FF 82%, #8C58FF 100%) 2; */
}