.TradeTopContent-container{
    padding: 50px 0;
    

}
.TradeTopContent-container h4{
    text-align: center;
    font-size: 24px;
    font-weight: 700;
}
.TradeTopContent-container p {
    text-align: center;
    font-size: 16px;
    font-weight: 600;
}
.text-highlight{
    color: #FF931E;
    cursor: pointer;
}
.loanOutIcon{
    width: 14px;
    height: 14px;
    margin: 0 0 2px 0;
}
.btn-loan{
    background-color: #8C58FF;
    color: #fff;
    border-radius: 25px;
    padding: 5px 15px;
}
.loanBook-img{
    width: 16px;
    height: 16px;
    margin: 0 3px 2px 0;
    
}

@media only screen and (max-width: 767px) {
    .TradeTopContent-container{
        padding: 40px 15px;
    }
    .TradeTopContent-container h4{
        text-align: center;
        font-size: 24px;
        font-weight: 700;
    }
    .TradeTopContent-container p {
        text-align: center;
        font-size: 16px;
        font-weight: 600;
    }
    .text-highlight{
        color: #FF931E;
        cursor: pointer;
    }
    .loanOutIcon{
        width: 14px;
        height: 14px;
        margin: 0 0 2px 0;
    }
    .btn-loan{
        background-color: #8C58FF;
        color: #fff;
        border-radius: 25px;
        padding: 5px 15px;
    }
    .loanBook-img{
        width: 16px;
        height: 16px;
        margin: 0 3px 2px 0;
        
    }
}